* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
p {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 80px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 6s linear infinite;
}
@keyframes shine {
  0%{
    background-position-x: -500%;
  }
  100%{
    background-position-x: 500%;
  }
}